<div class="sidebar{{ifThen showSidebar ' show' ''}}" data-tooltip-direction="UP">
    <div class="menu">
        <div class="header" data-tooltip-direction="DOWN">
            <div class="controls left">
                <a data-action="close-window" {{{@root.i18n.tooltip 'close' }}}>
                    <i class="fa-solid fa-xmark"></i>
                </a>
            </div>
            <div class="title">{{@root.i18n 'trigger.title'}}</div>
            <div class="controls right">
                <a data-action="import" {{{@root.i18n.tooltip 'import' }}}>
                    <i class="fa-solid fa-file-import"></i>
                </a>
                <a data-action="export" {{{@root.i18n.tooltip 'export' }}}>
                    <i class="fa-solid fa-file-export"></i>
                </a>
                <a data-action="create-trigger" {{{@root.i18n.tooltip 'trigger.add' }}}>
                    <i class="fa-solid fa-plus"></i>
                </a>
            </div>
        </div>
        <div class="scroll scroll-triggers">
            <ul class="triggers">
                {{#each triggers as |trigger|}}
                {{> 'trigger' type='trigger' trigger=trigger}}
                {{/each}}
            </ul>
        </div>
        <div class="header">
            <div class="title">{{@root.i18n 'subtrigger.title'}}</div>
            <div class="controls right">
                <a data-action="create-subtrigger" {{{@root.i18n.tooltip 'subtrigger.add' }}}>
                    <i class="fa-solid fa-plus"></i>
                </a>
            </div>
        </div>
        <div class="scroll scroll-subtriggers">
            <ul class="triggers sub">
                {{#each subtriggers as |trigger|}}
                {{> 'trigger' type='subtrigger' trigger=trigger}}
                {{/each}}
            </ul>
        </div>
        <div class="header">
            <div class="title">{{@root.i18n 'variable.title'}}</div>
            <div class="controls right">
                {{#unless @root.moduleLocked}}
                <a data-action="create-variable" {{{@root.i18n.tooltip 'variable.add' }}} {{disabled
                    (not selected)}}>
                    <i class="fa-solid fa-plus"></i>
                </a>
                {{/unless}}
            </div>
        </div>
        <div class="scroll">
            <ul class="variables">
                {{#each variables as |variable|}}
                <li class="variable" {{#unless variable.locked}} data-id="{{variable.id}}"
                    {{/unless}}>
                    <div class="name" style="--entry-color: #{{variable.color}};">
                        {{#if variable.global}}
                        <i class="fa-solid fa-circle" {{{@root.i18n.tooltip 'variable.global'
                            type=variable.type}}}>
                        </i>
                        {{else}}
                        <i class="fa-regular fa-circle" {{{@root.i18n.tooltip 'variable.linked'
                            type=variable.type}}}>
                        </i>
                        {{/if}}
                        {{variable.label}}
                    </div>
                    <div class="controls">
                        {{#if @root.moduleLocked}}
                        <span data-tooltip="{{@root.moduleLocked}}">
                            <i class="fa-solid fa-plug-circle-xmark"></i>
                        </span>
                        {{else if variable.locked}}
                        <span {{{@root.i18n.tooltip 'variable.locked' }}}>
                            <i class="fa-solid fa-lock"></i>
                        </span>
                        {{else}}
                        <a data-action="remove-variable" {{{@root.i18n.tooltip 'variable.delete'
                            }}}>
                            <i class="fa-solid fa-trash"></i>
                        </a>
                        {{/if}}
                    </div>
                </li>
                {{/each}}
            </ul>
        </div>
    </div>
    <div data-action="toggle-sidebar" class="indicator">
        <i class="expand fa-solid fa-chevrons-right"></i>
        <i class=" collapse fa-solid fa-chevrons-left">
        </i>
    </div>
</div>


{{#*inline "trigger"}}
<li class="trigger{{#if (eq trigger.id @root.selected)}} active{{/if}}" {{#if
    trigger.module}}data-module="{{trigger.module}}" {{/if}} data-id="{{trigger.id}}">
    {{#if (eq type 'trigger')}}
    <input class="enabled" type="checkbox" name="enabled" {{checked (@root.isEnabled trigger)}}>
    {{/if}}
    <div class="name" data-action="select-trigger">
        {{trigger.label}}
    </div>
    <div class="controls">
        <a data-action="lock-description" {{{@root.i18n.tooltip 'description' }}}>
            <i class="fa-solid fa-signature-lock"></i>
        </a>
        {{#if trigger.module}}
        <span {{{@root.i18n.tooltip 'locked.trigger' module=trigger.moduleTitle}}}>
            <i class="fa-solid fa-plug-circle-xmark"></i>
        </span>
        {{else}}
        <a data-action="copy-id" {{{@root.i18n.tooltip type 'copy' }}}>
            <i class="fa-solid fa-clipboard"></i>
        </a>
        <a data-action="delete-trigger" {{{@root.i18n.tooltip type 'delete' }}}>
            <i class="fa-solid fa-trash"></i>
        </a>
        {{/if}}
    </div>
</li>
{{/inline}}