<div class="sidebar{{ifThen showSidebar ' show' ''}}" data-tooltip-direction="UP">
    <div class="menu">
        <div class="header" data-tooltip-direction="DOWN">
            <div class="controls left">
                <a data-action="close-window" {{{@root.i18n.tooltip 'close' }}}>
                    <i class="fa-solid fa-xmark"></i>
                </a>
            </div>
            <div class="title">{{@root.i18n 'trigger.title'}}</div>
            <div class="controls right">
                <a data-action="import" {{{@root.i18n.tooltip 'import' }}}>
                    <i class="fa-solid fa-file-import"></i>
                </a>
                <a data-action="export-all" {{{@root.i18n.tooltip 'export-all' }}}>
                    <i class="fa-solid fa-file-export"></i>
                </a>
                <a data-action="create-trigger" {{{@root.i18n.tooltip 'trigger.add' }}}>
                    <i class="fa-solid fa-plus"></i>
                </a>
            </div>
        </div>
        <div class="scroll scroll-triggers">
            <ul class="triggers">
                {{#each triggers as |trigger|}}
                <li class="trigger{{#if (eq trigger.id @root.selected)}} active{{/if}}"
                    data-id="{{trigger.id}}">
                    <input class="enabled" type="checkbox" name="enabled" {{checked
                        trigger.enabled}}>
                    <div class="name" data-action="select-trigger">
                        {{trigger.label}}
                    </div>
                    <div class="controls">
                        <a data-action="export-trigger" {{{@root.i18n.tooltip 'trigger.export' }}}>
                            <i class="fa-solid fa-file-export"></i>
                        </a>
                        <a data-action="delete-trigger" {{{@root.i18n.tooltip 'trigger.delete' }}}>
                            <i class="fa-solid fa-trash"></i>
                        </a>
                    </div>
                </li>
                {{/each}}
            </ul>
        </div>
        <div class="header">
            <div class="title">{{@root.i18n 'variable.title'}}</div>
            <div class="controls right">
                <a data-action="add-variable" {{{@root.i18n.tooltip 'variable.add' }}} {{disabled
                    (not selected)}}>
                    <i class="fa-solid fa-plus"></i>
                </a>
            </div>
        </div>
        <div class="scroll">
            <ul class="variables">
                {{#each variables as |variable|}}
                <li class="variable" data-id="{{variable.entryId}}">
                    <div class="name" style="--entry-color: #{{variable.color}};">
                        {{#if variable.global}}
                        <i class="fa-regular fa-circle" {{{@root.i18n.tooltip 'variable.global' }}}>
                        </i>
                        {{else}}
                        <i class="fa-solid fa-circle" {{{@root.i18n.tooltip 'variable.linked' }}}>
                        </i>
                        {{/if}}
                        {{variable.label}}
                    </div>
                    <div class="controls">
                        <a data-action="remove-variable" {{{@root.i18n.tooltip 'variable.delete'
                            }}}>
                            <i class="fa-solid fa-trash"></i>
                        </a>
                    </div>
                </li>
                {{/each}}
            </ul>
        </div>
        <div class="header">
            <div class="title">{{@root.i18n 'subtrigger.title'}}</div>
            <div class="controls right">
                <a data-action="add-subtrigger" {{{@root.i18n.tooltip 'subtrigger.add' }}}>
                    <i class="fa-solid fa-plus"></i>
                </a>
            </div>
        </div>
        <div class="scroll scroll-subtriggers">
            <ul class="triggers sub">
                {{#each subtriggers as |trigger|}}
                <li class="trigger{{#if (eq trigger.id @root.selected)}} active{{/if}}"
                    data-id="{{trigger.id}}">
                    <div class="name" data-action="select-trigger">
                        {{trigger.label}}
                    </div>
                    <div class="controls">
                        <a data-action="export-trigger" {{{@root.i18n.tooltip 'subtrigger.export'
                            }}}>
                            <i class="fa-solid fa-file-export"></i>
                        </a>
                        <a data-action="delete-trigger" {{{@root.i18n.tooltip 'subtrigger.delete'
                            }}}>
                            <i class="fa-solid fa-trash"></i>
                        </a>
                    </div>
                </li>
                {{/each}}
            </ul>
        </div>
    </div>
    <div data-action="toggle-sidebar" class="indicator">
        <i class="expand fa-solid fa-chevrons-right"></i>
        <i class=" collapse fa-solid fa-chevrons-left">
        </i>
    </div>
</div>