{{#if valueLabel}}
<div class="form-group">
    <label>{{@root.i18n valueLabel}}</label>
    <div class="form-fields">
        <input type="text" name="value">
    </div>
</div>
{{/if}}
<div class="form-group">
    <label>{{@root.i18n 'name'}}</label>
    <div class="form-fields">
        <input type="text" name="name" value="{{name}}">
    </div>
</div>
{{#if types}}
<div class="form-group{{#if (eq types.length 1)}} hidden{{/if}}">
    <label>{{@root.i18n 'label'}}</label>
    <div class="form-fields">
        <select name="type">
            {{selectOptions types valueAttr="value" labelAttr="label"}}
        </select>
    </div>
</div>
{{/if}}