<div class="lists">
    <div class="triggers">
        {{> 'triggers' type='triggers'}}
    </div>
    <div class="subtriggers">
        {{> 'triggers' type='subtriggers'}}
        <button type="button" data-action="export">
            <i class="fa-solid fa-file-export"></i>
            {{@root.i18n 'export'}}
        </button>
    </div>
</div>

{{#*inline 'triggers'}}
<div class="title" data-tooltip-direction="UP">
    <a data-action="toggle-all" data-type="{{type}}" data-tooltip="{{@root.i18n.path 'toggle'}}">
        <i class="fa-solid fa-sliders-simple"></i>
    </a>
    <span>{{@root.i18n (concat type '.title')}}</span>
</div>
<ul>
    {{#each (lookup this type) as |trigger|}}
    <li>
        <input type="checkbox" name="selected" {{checked trigger.selected}} data-id="{{trigger.id}}"
            data-type="{{../type}}" autocorrect="off">
        {{trigger.name}}
    </li>
    {{/each}}
</ul>
{{/inline}}