<form data-tooltip-direction="UP">
    <div class="header">
        <button type="button" data-action="save-triggers">
            <i class="fa-solid fa-floppy-disk"></i>
            {{@root.i18n 'save'}}
        </button>
        <div class="separator"></div>
        <button type="button" data-action="import-triggers">
            <i class="fa-solid fa-download"></i>
            {{@root.i18n 'import-all.label'}}
        </button>
        <button type="button" data-action="export-triggers">
            <i class="fa-solid fa-file-export"></i>
            {{@root.i18n 'export-all.label'}}
        </button>
        <div class="separator"></div>
        <select name="trigger-type">
            {{selectOptions events valueAttr="value" labelAttr="label"}}
        </select>
        <button type="button" data-action="add-trigger">
            <i class="fa-solid fa-calendar-plus"></i>
            {{@root.i18n 'add'}}
        </button>
    </div>
    <hr>
    <div class="triggers">
        <div class="scrollable">
            <div class="left">
                {{#each leftTriggers as |trigger|}}
                {{> 'trigger' trigger=trigger }}
                {{/each}}
            </div>
            <div class="right">
                {{#each rightTriggers as |trigger|}}
                {{> 'trigger' trigger=trigger}}
                {{/each}}
            </div>
        </div>
    </div>
</form>

{{#*inline 'trigger'}}
<div class="trigger" data-trigger-id="{{trigger.id}}">
    <input type="text" class="hidden" name="{{trigger.path}}.id" value="{{trigger.id}}">
    <input type="text" class="hidden" name="{{trigger.path}}.event" value="{{trigger.event}}">
    <div class="trigger-header header">
        <span class="title">
            <i class="{{trigger.icon}}"></i>
            <span>{{trigger.label}}</span>
        </span>
        <span class="controls">
            <a data-action="export-trigger" data-tooltip="{{@root.i18n.path 'trigger.export'}}">
                <i class="fa-solid fa-file-export"></i>
            </a>
            <a data-action="delete-trigger"
                data-tooltip="{{@root.i18n.path 'trigger.delete.title'}}">
                <i class="fa-solid fa-trash"></i>
            </a>
        </span>
    </div>
    <div class="conditions-header header section-header">
        <span class="title">
            <span>{{@root.i18n 'condition.title'}}</span>
        </span>
        <select name="condition-type" {{disabled (not trigger.conditionsSelect.length)}}>
            {{selectOptions trigger.conditionsSelect valueAttr="value" labelAttr="label"}}
        </select>
        <a data-action="add-condition" data-tooltip="{{@root.i18n.path 'condition.add'}}">
            <i class="fa-solid fa-plus"></i>
        </a>
    </div>
    {{#each trigger.conditions as |condition|}}
    <div class="group condition {{condition.type}}" data-condition-id="{{condition.id}}">
        <input type="text" class="hidden" name="{{condition.path}}.id" value="{{condition.id}}">
        <input type="text" class="hidden" name="{{condition.path}}.key" value="{{condition.key}}">
        <input type="checkbox" class="hidden" name="{{condition.path}}.isSource" {{checked
            condition.isSource}}>
        {{> 'inputEntry' condition }}
        {{#if condition.isOptional}}
        <a data-action="delete-condition"
            data-tooltip="{{@root.i18n.path 'condition.delete.title'}}">
            <i class="fa-solid fa-trash"></i>
        </a>
        {{else}}
        <span class="disabled" data-tooltip="{{@root.i18n.path 'condition.delete.required'}}">
            <i class="fa-solid fa-trash"></i>
        </span>
        {{/if}}
    </div>
    {{/each}}
    <div class="actions-header header section-header">
        <span class="title">
            <span>{{@root.i18n 'action.title'}}</span>
        </span>
        <select name="action-type">
            {{selectOptions trigger.actionsSelect valueAttr="value" labelAttr="label"}}
        </select>
        <a data-action="add-action" data-tooltip="{{@root.i18n.path 'action.add'}}">
            <i class="fa-solid fa-plus"></i>
        </a>
    </div>
    {{!-- actions --}}
    {{#each trigger.actions as |action|}}
    <div class="action-header header index-{{@index}}{{#if action.linked}} linked{{/if}}"
        data-action-id="{{action.id}}">
        <input type="text" class="hidden" name="{{action.path}}.id" value="{{action.id}}">
        <input type="text" class="hidden" name="{{action.path}}.key" value="{{action.key}}">
        <input type="checkbox" class="hidden" name="{{action.path}}.linked" {{checked
            action.linked}}>
        <input type="checkbox" class="hidden" name="{{action.path}}.endProcess" {{checked
            action.endProcess}}>
        <span class="title">
            <i class="{{action.icon}}"></i>
            <span>{{action.label}}</span>
        </span>
        <div class="controls">
            {{#unless (or @first action.linked)}}
            <a data-action="link-action" data-linked="true"
                data-tooltip="{{@root.i18n.path 'action.link'}}">
                <i class="fa-solid fa-link link"></i>
            </a>
            {{/unless}}
            <a class="caret" data-action="move-action" data-direction="-1"
                data-tooltip="{{@root.i18n.path 'action.move.up'}}" {{disabled @first}}>
                <i class="fa-solid fa-caret-up"></i>
            </a>
            <a class="caret" data-action="move-action" data-direction="1"
                data-tooltip="{{@root.i18n.path 'action.move.down'}}" {{disabled @last}}>
                <i class="fa-solid fa-caret-down"></i>
            </a>
            <a data-action="delete-action" data-tooltip="{{@root.i18n.path 'action.delete.title'}}">
                <i class="fa-solid fa-trash"></i>
            </a>
        </div>
        {{#if action.linked}}
        <svg class="link-down img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 256 256">
            <path
                d="M72,40a8.00039,8.00039,0,0,1,8-8h96a8,8,0,0,1,0,16H80A8.00039,8.00039,0,0,1,72,40Zm159.39062,92.93848A8,8,0,0,0,224,128H184V72a8.00039,8.00039,0,0,0-8-8H80a8.00039,8.00039,0,0,0-8,8v56H32a8.00065,8.00065,0,0,0-5.65723,13.65723l96,96a8.003,8.003,0,0,0,11.31446,0l96-96A8.002,8.002,0,0,0,231.39062,132.93848Z" />
        </svg>
        <a class="link-down" data-action="link-action" data-linked="false"
            data-tooltip="{{@root.i18n.path 'action.unlink'}}">
            <i class="fa-solid fa-link-slash"></i>
        </a>
        {{/if}}
    </div>
    {{#each action.options as |option|}}
    {{> 'actionOption' action=action option=option}}
    {{/each}}
    {{#if action.linkOptions}}
    <div class="options-separator"></div>
    {{#each action.linkOptions as |option|}}
    {{> 'actionOption' action=action option=option}}
    {{/each}}
    {{/if}}
    {{#if action.endOfChain}}
    <div class="end-of-chain{{#if action.endProcess}} end-process{{/if}}">
        <a data-action="toggle-end-chain" data-action-id="{{action.id}}">
            {{#if action.endProcess}}
            <i class="fa-solid fa-ban"></i>
            {{@root.i18n 'action.chain.end'}}
            <i class="fa-solid fa-ban"></i>
            {{else}}
            <i class="fa-solid fa-arrow-down"></i>
            {{@root.i18n 'action.chain.continue'}}
            <i class="fa-solid fa-arrow-down"></i>
            {{/if}}
        </a>
    </div>
    {{/if}}
    {{!-- end actions --}}
    {{/each}}
</div>
{{/inline}}


{{#*inline 'actionOption'}}
<div class="group option {{option.type}}" data-action-id="{{action.id}}">
    <input class="active" type="checkbox" name="{{path}}.active" {{checked option.active}}
        {{disabled (not option.isOptional)}}
        data-tooltip="{{@root.i18n.path (ifThen option.isOptional 'action.option.toggle' 'action.option.required')}}">
    {{> 'inputEntry' option }}
</div>
{{/inline}}

{{#*inline 'inputEntry'}}
<label class="input">
    <span class="name">{{label}}</span>
    {{> (concat type 'Input') this}}
</label>
{{/inline}}


{{#*inline 'textInput'}}
<input type="text" name="{{path}}.value" value="{{value}}" placeholder="{{placeholder}}">
{{/inline}}

{{#*inline 'numberInput'}}
<input type="number" name="{{path}}.value" min="{{min}}" max="{{max}}" step="{{step}}"
    value="{{value}}">
{{/inline}}

{{#*inline 'uuidInput'}}
{{> 'textInput' this}}
{{#if item}}
<div class="item" data-uuid="{{value}}">
    <a class="item-link" data-action="open-item-sheet">
        <img src="{{item.img}}">
        <span class="name">{{item.name}}</span>
    </a>
    <a class="reset" data-action="reset-uuid">
        <i class="fa-solid fa-xmark"></i>
    </a>
</div>
{{else if value}}
<div class="broken hidden"></div>
{{/if}}
{{/inline}}

{{#*inline 'checkboxInput'}}
<input type="checkbox" name="{{path}}.value" {{checked value}}>
{{/inline}}

{{#*inline 'selectInput'}}
<select name="{{path}}.value">
    {{selectOptions options selected=value valueAttr="value" labelAttr="label"}}
</select>
{{/inline}}