<div class="sidebar show">
    <div class="menu">
        <div class="header">
            <div class="controls left">
                <a data-action="close-window" data-tooltip="{{@root.i18n.path 'close'}}">
                    <i class="fa-solid fa-xmark"></i>
                </a>
            </div>
            <div class="title">{{@root.i18n 'triggers'}}</div>
            <div class="controls right">
                <a data-action="import" data-tooltip="{{@root.i18n.path 'import'}}">
                    <i class="fa-solid fa-file-import"></i>
                </a>
                <a data-action="export-all" data-tooltip="{{@root.i18n.path 'export-all'}}">
                    <i class="fa-solid fa-file-export"></i>
                </a>
                <a data-action="add-trigger" data-tooltip="{{@root.i18n.path 'trigger.add'}}">
                    <i class="fa-solid fa-plus"></i>
                </a>
            </div>
        </div>
        <ul class="triggers">
            {{#each triggers as |trigger|}}
            <li class="trigger{{#if (eq trigger.id @root.selected)}} active{{/if}}"
                data-id="{{trigger.id}}">
                <div class="name" data-action="select-trigger">
                    {{trigger.name}}
                </div>
                <div class="controls">
                    <a data-action="export-trigger"
                        data-tooltip="{{@root.i18n.path 'trigger.export'}}">
                        <i class="fa-solid fa-file-export"></i>
                    </a>
                    <a data-action="delete-trigger"
                        data-tooltip="{{@root.i18n.path 'trigger.delete.title'}}">
                        <i class="fa-solid fa-trash"></i>
                    </a>
                </div>
            </li>
            {{/each}}
        </ul>
    </div>
    <div class="indicator">
        <i class="fa-solid fa-chevrons-right"></i>
    </div>
</div>
<div class="trigger-title"></div>